* {
    box-sizing: border-box;
}
body{
  text-align:center;
  position:relative;
}
section:target{
  padding-top:40px;
}
.sections {
  display:flex;
  flex-shrink:1;
  height:100vh;
  justify-content:center;
  align-content:center;
  overflow-y: hidden;
}
.navbar-nav{
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:space-between;
}
.navbar-nav .nav-link{
  padding-right:.5rem;
  padding-left:.5rem;
}
.social-links{
  list-style-type:none;
  justify-content:center;
  display:flex;
  padding:0px;
}

.social-links li{
  padding:5px;
}

.thumbnail-container {
  display:inline-block;
  flex-direction:row;
  white-space:nowrap;
}
.home-container {
    background-color:rgba(21, 0, 255, 0.52);
}


.about-section {
    display: grid;
    background-color:#D6B688;
    background-size:cover;
    grid-template-columns:repeat(2,1fr);


}

.picture {
    grid-column: 1/2;
    background-image: url("https://nicksteffen.github.io/profile.jpg");
    background-size: contain;   
    background-repeat: no-repeat;
    background-position: center;
    height:100%;

}

.about-text {
    grid-column:2/3;
}

about
