* {
    box-sizing: border-box;
}
body{
  text-align:center;
  position:relative;
  overflow-x:hidden;
}
section{
  padding-top:8vh;
}
.navbar-nav{
  flex-direction:row !important;
  flex-wrap:wrap !important;
  justify-content:space-around!important;
  min-height:5vh;
  max-height:5vh;
}
.navbar-nav .nav-link{
  padding-right:.5rem !important;
  padding-left:.5rem !important;
}
.social-links{
  list-style-type:none;
  justify-content:center;
  display:flex;
  padding:0px;
}
.social-links li{
  padding:5px;
}
.sections {
  overflow-y: hidden;
  max-width:100vw;
}

.about-section{
    background-color:#D6B688;
}
.picture {
    background-image: url("https://nicksteffen.github.io/profile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height:100vh;

}
.about-text {
    color: rgba(255,255,255, .8);
}
.skills {
    background-color:#7894cc;
    color: rgba(255,255,255, .8);
    flex-direction:column;
    text-align:left
}
.portfolio {
  background-color: rgba(50, 67, 120, 1);
  color: rgba(255,255,255, .8);
}
.portfolio *{
  height:25vh;
  width:100vw;
}
.portfolio .screenshots{
  background-repeat:no-repeat;
  background-size:cover;
}
.portfolio a {
  color: rgba(255,255,255,8);
}
.project-description {
  display:flex;
  align-items:center;
  justify-content:center;
}
.image {
  display:flex;
  align-items:flex-end;
}

.image-one {
  background-image:url("https://nicksteffen.github.io/project screenshots/home-page-app.png");
  grid-row:1;
}
.image-two {
  background-image:url("https://nicksteffen.github.io/project screenshots/calculator.png");
  grid-row:2;
}
.image-three {
  background-image:url("https://nicksteffen.github.io/project screenshots/clock.png");
  grid-row:3;
}
.contact {
    background-color: #171f35;
    color: rgba(255,255,255, .8);
    height:20vh !important;
}

@media screen and (min-width:960px) {
  .sections {
  display:flex;
  flex-shrink:1;
  height:100vh;
  min-height:100%;
  justify-content:center;
  align-content:center;
  overflow-y: hidden;
}
  .about-section {
    display: grid;
    grid-template-columns:repeat(2,1fr);
    grid-template-rows:100%;
}
  .picture {
     grid-column: 1/2;
     height:85%;
  }
  .about-text {
    grid-column:2/3;
    max-width:80%;
    margin-left:15%;
    margin-right:15%
}
  .portfolio {
    height:180vh;
    display:grid;
    grid-template-columns:repeat(2,1fr);
  }
  .portfolio .screenshots{
  background-size:contain;
  }
  .portfolio *{
    height:auto;
    width:50vw;
  }
  .image {
     border-bottom: solid rgba(178,141,61,2);
  }
  .project-description{
    border-left: solid rgba(178,141,61,2);
  }
  .left {
    grid-column:1/2;
}
  .right {
    grid-column:2/3;
}
}
